<nav>

    <div class="right-side">

        {{#if first}}


        <div>
            <a class="symbol" href="/petition/cause">My cause!</a>
        </div>

        <div>
            <a class="edit" href="/profile/edit">Edit</a>
        </div>
        <div>
            <a class="logout" href="/logout">Logout</a>
        </div>

    </div>
    <div class="left-side">
        <div class="welcome-name">
            <a class="signer" href="/petition">
                <span class="name">{{first}}</span>
            </a>
        </div>
        <div>
            <a class="signers" href="/signers">Signers</a>
        </div>
    </div>
    {{else}}

    <div>
        <a class="symbol" href="/petition/cause">My cause!</a>
    </div>

    {{/if}}

</nav>