<div class="registration-login-container">
    {{#if err}}
    {{> errHandler}}
    {{/if}}
    <h3>Please log in.</h3>
    <form action="/login" method="post">
        <input type="text" name="emailLogin" id="emailLogin" placeholder="Email">
        <input type="text" name="passwordLogin" id="passwordRegister" placeholder="Password">
        <button id="loginBtn" type="submit">Log In</button>
    </form>
</div>