<div class="content-container">
    {{#if err}}
    {{> errHandler}}
    {{/if}}
    <h3>Please log in.</h3>
    <form action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" name="emailLogin" id="emailLogin" placeholder="Email">
        <input type="password" name="passwordLogin" id="passwordRegister" placeholder="Password">
        <button id="loginBtn" type="submit">Log In</button>
    </form>
    <div class="if-member">

        <h5>If you are not a member, please</h5><a href="/register">Register</a>
    </div>
    <div style="background-image: url('../public/pics/image1.jpg');"></div>

</div>