<div class="main-content-container">

    <h2>Welcome to the Petition</h2>

    {{#if err}}
    {{> errHandler}}
    {{/if}}

    <form name="user-data" action="/petition" method="POST">

        <div class="canvas-container">
            <canvas class="signature-canvas" id="canv" width="300" height="100"></canvas>
            <input type="hidden" name="signature">
        </div>
        <a href="/thanks"><button class="form-submit" type="submit">Submit!</button></a>
    </form>
</div>