<div class="cause-container">

    <h1>Let's start the change in our classroom!</h1>
    <h2>we need plants in Spiced!</h2>

    <a class="sign" href="/login">
        <button class="sign-petition-btn">Sign the Petition!</button>
        <img src="https://img.icons8.com/ios/40/000000/edit.png" />
    </a>




    <p target="_blank" class="cause-message">
        <br> Benefits of Indoor Plants: <br>
        <br>Spider Plant/Hen and Chickens – Chlorophytum
        <br> One of the easiest indoor plants to maintain, the Spider Plant produces oxygen whilst purifying the air in
        your
        home and
        office by absorbing carbon monoxide, formaldehyde and xylene.<br>

        <br> Snake Plant/Mother in Law’s Tongue – Sansevieria<br>
        The Snake Plant cleans air better than most other indoor plants as it has the ability to absorb excessive levels
        of
        carbon monoxide. Additionally, it emits oxygen and filters other toxins from the air such as benzene, xylene,
        trichloroethylene and formaldehyde.<br>

        <br> Peace Lily – Spathiphyllum<br>
        As one of the few flowering indoor plants Peace Lily’s purify the air by absorbing air born toxins such as
        trichloroethylene, ammonia, benzene, formaldehyde, xylene. In addition to producing Oxygen and reducing toxins,
        these
        indoor beauties also help to eradicate mould.<br>

        <br> English Ivy – Hedera Helix<br>
        English Ivy has amazing air filtering abilities that are extremely beneficial for those with asthma/breathing
        problems
        and allergies. They also reduce air moulds and can absorb animal faeces, benzene, carbon monoxide and
        formaldehyde.<br>

        <br> Aloe Vera
        <br> The healing properties found in the gel of Aloe Vera leaves helps to heal cuts and burns. Furthermore, Aloe
        Vera
        emits
        Oxygen and is an air pollutant filter, especially for those toxins emitted by cleaning products.<br>

        <br>Chinese Evergreen – Aglaonema
        <br> As one of the most user-friendly indoor plants, Aglaonema’s cleans and purify indoor air, absorbing
        formaldehyde, carbon
        monoxide and benzene.<br>

        <br> Bamboo Palm – Chrysalidocarpus Lutescens
        <br> Like the Sword Fern, the gorgeously structural Bamboo Palm acts as a natural humidifier, and assists in
        cleaning
        and
        purifying indoor air by absorbing formaldehyde and xylene.<br>

        <br> for more <a href="https://lifestyle.co.za/benefits-of-indoor-plants/">click here...</a><br>
    </p>

    <hr>
    <div class="cause-links">

        <a target="_blank" href="https://www.teachstarter.com/us/blog/5-benefits-of-plants-in-the-classroom-2-2/">5
            benefits
            of plants in
            the
            classroom</a>

        <a target="_blank"
            href="https://www.thesill.com/blogs/care-miscellaneous/why-you-need-plants-in-your-life#:~:text=Studies%20have%20shown%20indoor%20plants,privacy%20and%20reduce%20noise%20levels">Why
            You Need Plants in Your Life?!</a>

        <a target="_blank" href="https://www.prevention.com/health/g27586276/benefits-of-indoor-plants/">8 Healthy
            Benefits
            of Indoor
            Plants, According to Horticulture Experts</a>
    </div>

    <hr>
</div>