<div class="content-container">
    {{#if err}}
    {{> errHandler}}
    {{/if}}
    <form action="/register" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" name="userFirstName" id="userFirstName" placeholder="User First Name">
        <input type="text" name="userLastName" id="userLastName" placeholder="User Last Name">
        <input type="text" name="emailRegister" id="emailRegister" placeholder="Email">
        <input type="password" name="passwordRegister" id="passwordRegister" placeholder="Password">
        <button id="registerBtn" type="submit">Sign Up</button>
        <div class="if-member">

            <h5>If you are already a member, please</h5><a href="/login">log in</a>
        </div>
</div>
</form>

</div>