<div class="thanks-container">

    <h2>thank you for participating</h2>

    <h3>the participants</h3>
    <h3>{{data.length}} have signed. Next goal: 50,000</h3>

    <a href="/signers">Check list of signers!</a>
</div>