body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: rgba(88, 175, 160, 0.075);
}

nav {
    display: flex;
    justify-content: center;
    justify-content: start;
    flex-direction: row;
    background-color: rgba(88, 175, 161, 0.788);
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

nav a,
nav {
    padding-left: 10px;
    font-size: large;
}

/* register */

.content-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container input {
    border: none;
    outline: none;
    width: 90%;
    border-bottom: 1px solid rgba(27, 25, 25, 0.397);
    margin: 5px;
}
.content-container input:hover {
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.658);

    margin: 5px;
}
.content-container button {
    margin-top: 10px;
}

.if-member {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 10px;
}

.if-member h4 {
    padding-right: 5px;
    margin: 0;
}

/* login */

/* petition page */
.main-content-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form {
    flex-direction: column;
    width: 40%;
    text-align: center;
}

.main-content-container input {
    border: none;
    outline: none;
    width: 90%;
    border-bottom: 1px solid rgba(27, 25, 25, 0.397);
    margin: 5px;
}
.main-content-container input:hover {
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.658);
    margin: 5px;
}

.canvas-container,
form,
.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature-canvas {
    border: 1px rgba(0, 0, 0, 0.418) solid;
}
button {
    border: none;
    outline: none;
    margin-top: 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(
        71deg,
        rgb(224, 217, 217) 10%,
        rgba(67, 139, 127, 0.788) 95%,
        rgba(43, 70, 65, 0.788) 100%
    );
}

button:hover {
    color: rgb(85, 81, 81);
}

.err-msg {
    color: red;
}

/* thanks page */
.thanks-container {
    height: 100vh;
}
.cur-first {
    color: rgba(88, 175, 161, 0.788);
    padding-left: 5px;
}
.thanks-name-container {
    display: flex;
}

.thanks-container,
.thanks-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.thanks-container a:hover {
    color: white;
    background-color: rgba(88, 175, 161, 0.788);
}

/* signers page*/
.signers-list {
    height: 100%;
    margin: 20px;
}
.signers-list,
.signers-list ul {
    list-style-type: none;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* the ul is ganna touch the footer if it grows more!! */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgba(88, 175, 161, 0.788);
}
